*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box; 
    font-size: 25px;
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
    color: white;
    list-style: none;
    letter-spacing: 3px;
    scrollbar-color: #1e1e1e;
}
body{
    background-color: black;
    overflow-x: hidden;
}
nav{
    margin-top: 30px;
    z-index: 1;
    position: absolute;
    width: 95%;
    margin-left: 2.5%;
    height: 65px;
    /* border: red solid 1px; */
    background: rgba(33, 33, 33, 0.6);
    backdrop-filter: blur(22px);
}
.nav-l{
    float: left;
    width: 50%;
}
.nav-r{
   margin-left: 50%;
   width: 50%;
}
video{
    width: 100%;
    height: 860px;
    /* height: 820px; */
    z-index: -199;
    opacity: 50%;
}
div{
    z-index: 9;
    position: absolute;
}
.logo1{
    background-image: url("../image/cdroot.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 125px;
    width: 125px;
    display: inline-block;
    position: relative;
    bottom: 30px;
    /* right:1px; */
}
.logo2{
    background-image: url("../image/csi-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    display: inline-block;
    position: relative;
    margin-left: 490px;
    bottom: 43px;
    right: 30px;
}
.logo3{
    background-image: url("../image/botnet.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    display: inline-block;
    position: relative;
    bottom:13px;
    margin-left: 20px;
    right: 30px;
}
.home-s{
    overflow-y: hidden;
    width: 100%;
    height: 765px;
}
.text-h{
    position: absolute;
    top: 230px;
    width: 100%;
}
.text-1{
    /* top: 200px; */
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.text-code{
    width: 100%;
    text-align: center;
}
.image-l{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../image/lp5.png");
    /* border: 1px solid  red; */
    height: 180px;
    width: 180px;
    top: 270px;
}
.image-ll{
    display: flex;
    justify-content: center;
    left: 50.1%;
}
.button1{
    position: absolute;
    top: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
}
button{
    padding: 5px ;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #1e1e1e;
}
i{
    margin-right: 7px;
}
button:hover{
    border: 1px solid whitesmoke;
}
.text2{
    position: absolute;
    top: 520px;
    width: 100%;
    text-align: center;
}
.main-into{
    width: 100%;
    text-align: center;
}
.wl{
    margin-top: 12px;
    text-align: center;
    width: 100%;
}
.text5{
    top: 46px;
    width: 100%;
    display: block;
    text-align: center;
}
.text6{
    top: 78px;
    width: 100%;
    display: block;
    text-align: center;
}
.text7{
    top: 108px;
    width: 100%;
    display: block;
    text-align: center;
}
.text8{
    top: 138px;
    width: 100%;
    display: block;
    text-align: center;
}
.main-s2{
    margin-top: 20px;
    height: 400px;
}
.main-s{
    margin-top: 20px;
    height: 400px;
}
.text-pwd{
    text-align: center;
    position: relative;
    width: 100%;
    top: 60px;
}

.text-pwd3{
    text-align: center;
    position: relative;
    width: 100%;
    top: 70px;
}
.main-into2{
    border: #1e1e1e 1px solid;
    width: 40%;
    height: 185px;
    border-radius: 5px;
    float: left;
    left: 120px;
    top: 150px;
    position: relative;
}
.img3{  
    float: left;
    width: 40%;
    background-repeat: no-repeat;
    background-image: url("../image/left-l.png");
    background-size: contain;
    height: 210px;
    width: 500px;
    position: absolute;
    top: 928px;
    right: 80px;
}
.img2{
    float: right;
    width: 40%;
    background-repeat: no-repeat;
    background-image: url("../image/learing.png");
    background-size: contain;
    height: 210px;
    width: 500px;
    position: absolute;
    top: 1348px;
    /* border: #1e1e1e 1px solid; */
    margin-left: 250px;
}
strong{
    color: white;
    font-weight: bold;
}
section{
    background-image: url("../image/dots.jpg");
}
.big-text{
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    color: #4e4a4a;
    right: 480px;
    position: relative;
    top: 50px;
    text-align: center;
}
.big-text2{
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    color: #4e4a4a;
    right: 535px;
    text-align: center;
}

.main-into{
    border: #1e1e1e 1px solid;
    width: 40%;
    height: 185px;
    border-radius: 5px;
    float: right;
    right: 120px;
    top: 150px;
}
.glow{
    backdrop-filter: blur(25px);
    overflow: hidden;
    position: relative;
    background: transparent;
}
.glow::before{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%,-50%);
    width: 850px;
    height:850px;
    background: radial-gradient(white,transparent,transparent) ;
    transition:0.5s ,top 0s,left 0s ;
    opacity: 0;
    
}
.glow:hover::before{
    opacity: 33%;
}
.glow::after{
    content: '';
    position: absolute;
    inset: 2px;
    border-radius: 18px;
    background: rgba(0, 0, 0,0.4);
}
@media screen and (max-width: 1550px) {
    video{
        height: 810px;
    }
}
